In [1]:
import requests
from bs4 import BeautifulSoup

# URL target
url = "https://viraindo.com/notebook.html"

# Mengirim permintaan GET ke website
response = requests.get(url)

# Mengecek status response
if response.status_code == 200:
    # Parsing HTML dengan BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Contoh: Mengambil semua data dari tabel (jika ada)
    tables = soup.find_all('table')
    for idx, table in enumerate(tables):
        print(f"Tabel {idx+1}:")
        rows = table.find_all('tr')
        for row in rows:
            cols = row.find_all(['td', 'th'])
            data = [col.get_text(strip=True) for col in cols]
            print(data)
else:
    print(f"Gagal mengambil data. Status code: {response.status_code}")

Gagal mengambil data. Status code: 403

In [4]:
# Membaca kembali file CSV untuk verifikasi
df = pd.read_csv('data_viraindo.csv', header=None)
df

                                                       0           1
0      Vira Jaya Computer Mangga Dua Mal Lt.4 No.101A...         NaN
1      Telp. 021-22680161, 62304049, 62303934, 623074...         NaN
2       Fax : 021- 62303935 (Website : www.viraindo.com)         NaN
3                                         Advan Notebook         NaN
4      ADVAN CHROMEBOOK N4020 4GB 32GB (Intel N4020, ...   2.800.000
...                                                  ...         ...
10431  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 4 ...  11.400.000
10432  ZYREX CONFIDANTE 2IN1 TOUCH QUALCOMM SNAPDRAGO...   7.600.000
10433                                             Others        Call
10434                        Notebook Merek tipe Lainnya        Call
10435  Adaptor, Baterai, Keyboard, LED Panel Notebook...         NaN

[10436 rows x 2 columns]

In [5]:
# Menampilkan value kosong pada DataFrame

nan_values = df.isna().sum().sum()
print(df[df.isnull().any(axis=1)])
print(f"\nJumlah nilai kosong (NaN) dalam DataFrame: {nan_values}")

                                                       0    1
0      Vira Jaya Computer Mangga Dua Mal Lt.4 No.101A...  NaN
1      Telp. 021-22680161, 62304049, 62303934, 623074...  NaN
2       Fax : 021- 62303935 (Website : www.viraindo.com)  NaN
3                                         Advan Notebook  NaN
124                                        Acer Notebook  NaN
1633                                      Apple Notebook  NaN
1837                                       Asus Notebook  NaN
4318                                      Avita Notebook  NaN
4329                                      Axioo Notebook  NaN
4597                                       DELL Notebook  NaN
4906                                         HP Notebook  NaN
6355                                     Huawei Notebook  NaN
6368                                    Infinix Notebook  NaN
6425                                     Jumper Notebook  NaN
6433                                     Lenovo Notebook  NaN
9035                                  Microsoft Notebook  NaN
9131                                        MSI Notebook  NaN
10321                                     Razer Notebook  NaN
10323                                   Samsung Notebook  NaN
10329                                       SPC Notebook  NaN
10350                                   Toshiba Notebook  NaN
10358                                     Tecno Notebook  NaN
10397                                    Xiaomi Notebook  NaN
10435  Adaptor, Baterai, Keyboard, LED Panel Notebook...  NaN

Jumlah nilai kosong (NaN) dalam DataFrame: 24

In [6]:
# Menghapus baris dengan nilai kosong dan mereset index sekaligus

df_cleaned = df.dropna().reset_index(drop=True)
df_cleaned

                                                       0           1
0      ADVAN CHROMEBOOK N4020 4GB 32GB (Intel N4020, ...   2.800.000
1      ADVAN Soulmate N4020 Memori 4 GB Storage 128 G...   2.300.000
2      ADVAN Soulmate N4020 Memori 4 GB Storage 128 G...   2.900.000
3      ADVAN Soulmate N4020 Memori 4 GB Storage 384 G...   2.750.000
4      ADVAN Soulmate N4020 Memori 4 GB Storage 384 G...   3.400.000
...                                                  ...         ...
10407  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 2 ...   9.900.000
10408  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 4 ...  11.400.000
10409  ZYREX CONFIDANTE 2IN1 TOUCH QUALCOMM SNAPDRAGO...   7.600.000
10410                                             Others        Call
10411                        Notebook Merek tipe Lainnya        Call

[10412 rows x 2 columns]

In [7]:
# Verifikasi bahwa tidak ada nilai kosong lagi

df_cleaned.isnull().sum()

0    0
1    0
dtype: int64

In [8]:
# Merubah nama kolom 0 menjadi "Merk" dan kolom 1 menjadi "Harga"

df_cleaned.columns = ['Merk', 'Harga']
df_cleaned

                                                    Merk       Harga
0      ADVAN CHROMEBOOK N4020 4GB 32GB (Intel N4020, ...   2.800.000
1      ADVAN Soulmate N4020 Memori 4 GB Storage 128 G...   2.300.000
2      ADVAN Soulmate N4020 Memori 4 GB Storage 128 G...   2.900.000
3      ADVAN Soulmate N4020 Memori 4 GB Storage 384 G...   2.750.000
4      ADVAN Soulmate N4020 Memori 4 GB Storage 384 G...   3.400.000
...                                                  ...         ...
10407  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 2 ...   9.900.000
10408  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 4 ...  11.400.000
10409  ZYREX CONFIDANTE 2IN1 TOUCH QUALCOMM SNAPDRAGO...   7.600.000
10410                                             Others        Call
10411                        Notebook Merek tipe Lainnya        Call

[10412 rows x 2 columns]

In [10]:
# Membuat list nama brand laptop

brand_names = ['Acer', 'Apple', 'Asus', 'Dell', 'HP', 'Lenovo', 'MSI', 'Samsung', 'Toshiba', 'Microsoft', 'Sony', 'ADVAN', 'Zyrex', 'Axioo', 'ZYREX', 'Advan', 'Xiaomi', 'ASUS', 'Avita', 'Tecno']

# Menambahkan kolom baru "Brand" berdasarkan nama brand yang ada di kolom "Merk"

df_cleaned['Brand'] = df_cleaned['Merk'].apply(lambda x: next((brand for brand in brand_names if brand in x), 'Other'))
df_cleaned

                                                    Merk       Harga  Brand
0      ADVAN CHROMEBOOK N4020 4GB 32GB (Intel N4020, ...   2.800.000  ADVAN
1      ADVAN Soulmate N4020 Memori 4 GB Storage 128 G...   2.300.000  ADVAN
2      ADVAN Soulmate N4020 Memori 4 GB Storage 128 G...   2.900.000  ADVAN
3      ADVAN Soulmate N4020 Memori 4 GB Storage 384 G...   2.750.000  ADVAN
4      ADVAN Soulmate N4020 Memori 4 GB Storage 384 G...   3.400.000  ADVAN
...                                                  ...         ...    ...
10407  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 2 ...   9.900.000  Zyrex
10408  Zyrex Blaze Core i5 12450H Memori 32 GB SSD 4 ...  11.400.000  Zyrex
10409  ZYREX CONFIDANTE 2IN1 TOUCH QUALCOMM SNAPDRAGO...   7.600.000  ZYREX
10410                                             Others        Call  Other
10411                        Notebook Merek tipe Lainnya        Call  Other

[10412 rows x 3 columns]

In [11]:
# Menampilan value "other" pada kolom Brand

df_cleaned[df_cleaned['Brand'] == 'Other']

                              Merk Harga  Brand
119                         Others  Call  Other
1627                        Others  Call  Other
4310                        Others  Call  Other
4320                        Others  Call  Other
4587                        Others  Call  Other
...                            ...   ...    ...
10336                       Others  Call  Other
10374                       Others  Call  Other
10377                       Others  Call  Other
10410                       Others  Call  Other
10411  Notebook Merek tipe Lainnya  Call  Other

[381 rows x 3 columns]

In [12]:
# Menampilkan value "Others" pada kolom Merk

df_cleaned[df_cleaned['Merk'].str.contains('Other', case=False, na=False)]

                                                    Merk Harga  Brand
119                                               Others  Call  Other
1627                                              Others  Call  Other
1830   Others (IPAD, Iphone, IPOD, Aksesoris. Lihat d...  Call  Apple
4310                                              Others  Call  Other
4320                                              Others  Call  Other
4587                                              Others  Call  Other
4895                                              Others  Call  Other
6343                                              Others  Call  Other
6355                                              Others  Call  Other
6411                                              Others  Call  Other
6418                                              Others  Call  Other
9019                                              Others  Call  Other
9114                                              Others  Call  Other
10303                                             Others  Call  Other
10304                                             Others  Call  Other
10309                                             Others  Call  Other
10329                                             Others  Call  Other
10336                                             Others  Call  Other
10374                                             Others  Call  Other
10377                                             Others  Call  Other
10410                                             Others  Call  Other